/* ----------------------------------
Responsive for Medium Devices  
------------------------------------*/
@media only screen and (max-width:1007px)
{
    
    .p-t-b
    {
        padding: 40px 0;
    }
    .hero_wrapper,
    .highlight_wrapper
    {
        height: auto;
        padding: 40px 15px;
    }
    .hero_left h1
    {
        font-size: 45px;
        line-height: 64px;
        font-weight: 700;
        max-width: 95%;
    }
    .player_wrapper
    {
        grid-template-columns: repeat(2,1fr);
        padding:0 15px;
    }
    #subscribe-button
    {
        width: 98%;
        margin: 5px;
    }
    #email-input
    {
        width: 98%;
        margin: 5px;
    }
    #subscribebox
    {
        width: 100%;
    }
    .footer_wrapper
    {
        width: 80%;
    }
    footer img
    {
        width: 220px;
        margin-bottom: 40px;
    }
}
/* ----------------------------------
Responsive for Smaall Devices  
------------------------------------*/
@media only screen and (max-width:640px)
{  
    .p-t-b
    {
        padding: 45px 0;
    }
    .hero_wrapper
    {
        height: auto;
        flex-direction: column;
        padding: 60px 15px;
    }
    .hero_left
    {
        margin-bottom: 60px;
    }
    .half-width
    {
        width: 100%;
    } 
    .hero_left h1
    {
        font-size: 36px;
        line-height: 50px;
        font-weight: 700;
        max-width: 60%;
    }
    .hero_right img
    {
        width: 330px;
        display: block;
        margin: 0 auto;        
    }
    .player_wrapper
    {
        grid-template-columns: repeat(1,1fr);
        padding:0 15px;
    }
    .highlight_wrapper
    {
        flex-direction: column;
        padding:0 15px;
    }
    .highlight h1
    {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        color: #0a0826;
        margin-bottom: 25px;
    }
    .highlight_right img
    {
        display: block;
        margin: 0 auto;
    }
    .footer_wrapper
    {
        width: 100%;
    }
    footer img
    {
        width: 246px;
        margin-bottom: 40px;
    }
    footer .social-icon
    {
        display: inherit;
        margin-bottom: 30px;
    }
}

